.back-nav {
    position: fixed;
    top: 0;
    left: 0;

    font-size: 24px;
    padding-left: 25px;
    padding-top: 20px;

    span.prefix {
        margin-right: 5px;
    }

    @media only screen and (max-width: 800px) {
        padding-top: 0px;
        margin-top: -2px;

        span.prefix {
            font-size: 48px;
        }

        span.text {
            display: none;
        }
    }
}