body {
    background-color: #3B3F45;

    #container {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 300;
        color: #fff;

        //max-width: 1200px;
        margin: 10px auto;
        padding: 75px;
    }
}
